html {
	margin: 0px;
	padding: 0px;
}
body {
	height: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

.root-game {
	background: green;
	display: block;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.swiper-wrapper {
	background-color: blue;
	width: 100%;
	height: 100vh;
}

pre {
	font-size: 2rem;
	margin: 0px;
	padding: 0px;
}

.airship {
	position: absolute;

	display: block;
	background: red;
	width: 100px;
	height: 100px;
	margin: 0px;
}
